<div class="cm-empty" *ngIf="appointments.length === 0">
  <ion-icon name="calendar-outline"></ion-icon>
  <h3>Aucun rendez-vous</h3>
  <p>Choisissez un médecin sur l'accueil pour prendre rendez-vous.</p>
</div>

<app-rdv-card
  *ngFor="let appointment of appointments"
  [date]="appointment.date"
  [time]="appointment.time"
  [title]="appointment.reason || 'Consultation'"
  [status]="appointment.status">
  <ion-button fill="clear" size="small" (click)="viewAppointmentDetails(appointment)">
    <ion-icon name="document-text-outline" slot="start"></ion-icon>
    Voir le détail
  </ion-button>
</app-rdv-card>
