<ng-container *ngIf="history">
  <section class="cm-sheet booklet">
    <h2><ion-icon name="calendar-outline"></ion-icon> Rendez-vous</h2>
    <ul>
      <li *ngFor="let appointment of history.appointments"><time>{{ appointment.date }}</time> {{ appointment.reason }}</li>
      <li class="none" *ngIf="!history.appointments?.length">Aucun rendez-vous passé.</li>
    </ul>
  </section>

  <section class="cm-sheet booklet">
    <h2><ion-icon name="chatbubbles-outline"></ion-icon> Consultations</h2>
    <ul>
      <li *ngFor="let consultation of history.consultations"><time>{{ consultation.date }}</time> {{ consultation.notes }}</li>
      <li class="none" *ngIf="!history.consultations?.length">Aucune consultation enregistrée.</li>
    </ul>
  </section>
</ng-container>

<ng-container *ngIf="diagnostics">
  <section class="cm-sheet booklet">
    <h2><ion-icon name="flask-outline"></ion-icon> Diagnostics</h2>
    <ul>
      <li *ngFor="let diagnostic of diagnostics.diagnostics"><time>{{ diagnostic.date }}</time> {{ diagnostic.result }}</li>
      <li class="none" *ngIf="!diagnostics.diagnostics?.length">Aucun diagnostic.</li>
    </ul>
  </section>

  <section class="cm-sheet booklet rx">
    <h2><ion-icon name="document-text-outline"></ion-icon> Ordonnances</h2>
    <ul>
      <li *ngFor="let prescription of diagnostics.prescriptions"><time>{{ prescription.date }}</time> {{ prescription.medication }}</li>
      <li class="none" *ngIf="!diagnostics.prescriptions?.length">Aucune ordonnance.</li>
    </ul>
  </section>
</ng-container>

<div class="ion-padding">
  <ion-button expand="block" fill="outline" (click)="downloadDiagnosticsPdf()">
    <ion-icon name="download-outline" slot="start"></ion-icon>
    Télécharger le carnet (PDF)
  </ion-button>
</div>
