<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Nouvelle annonce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="cm-sheet pub" [formGroup]="pubForm" (ngSubmit)="onSubmit()">
    <span class="cm-kicker">Annonce sur l'accueil</span>

    <button type="button" class="pick" (click)="fileInput.click()">
      <img *ngIf="imagePreview; else noImage" [src]="imagePreview" alt="Aperçu de l'annonce" />
      <ng-template #noImage>
        <ion-icon name="image-outline"></ion-icon>
        <span>Choisir une image</span>
      </ng-template>
    </button>
    <input type="file" accept="image/*" (change)="onImageSelected($event)" hidden #fileInput />

    <ion-item [class.is-invalid]="pubForm.get('titre')?.invalid && pubForm.get('titre')?.touched">
      <ion-input label="Titre" labelPlacement="stacked" formControlName="titre" type="text"></ion-input>
    </ion-item>
    <ion-item [class.is-invalid]="pubForm.get('description')?.invalid && pubForm.get('description')?.touched">
      <ion-textarea label="Description" labelPlacement="stacked" formControlName="description" rows="4"></ion-textarea>
    </ion-item>
    <ion-item [class.is-invalid]="pubForm.get('dateFin')?.invalid && pubForm.get('dateFin')?.touched">
      <ion-input label="Date de fin" labelPlacement="stacked" formControlName="dateFin" type="date" [min]="today"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" class="go" [disabled]="pubForm.invalid || isLoading">
      <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
      <span *ngIf="!isLoading">Publier</span>
    </ion-button>
  </form>
</ion-content>
