<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Nouveau médecin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="cm-sheet doc-form" [formGroup]="doctorForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <span class="cm-kicker">Fiche médecin</span>

    <label class="photo">
      <img *ngIf="imagePreview; else noPhoto" [src]="imagePreview" alt="Aperçu de la photo" />
      <ng-template #noPhoto><ion-icon name="camera-outline"></ion-icon></ng-template>
      <span>Photo du médecin</span>
      <input type="file" (change)="onFileChange($event)" accept="image/*" required hidden />
    </label>

    <ion-item><ion-input label="Nom" labelPlacement="stacked" formControlName="name" type="text"></ion-input></ion-item>
    <ion-item><ion-input label="Spécialité" labelPlacement="stacked" formControlName="specialty" type="text"></ion-input></ion-item>
    <ion-item><ion-input label="Description" labelPlacement="stacked" formControlName="description" type="text"></ion-input></ion-item>
    <ion-item><ion-input label="Adresse" labelPlacement="stacked" formControlName="address" type="text"></ion-input></ion-item>
    <div class="pair">
      <ion-item><ion-input label="Téléphone" labelPlacement="stacked" formControlName="phone" type="tel"></ion-input></ion-item>
      <ion-item><ion-input label="Email" labelPlacement="stacked" formControlName="email" type="email"></ion-input></ion-item>
    </div>
    <ion-item><ion-input label="Mot de passe" labelPlacement="stacked" formControlName="password" type="password"></ion-input></ion-item>

    <div formArrayName="availability" class="hours">
      <span class="cm-kicker">Horaires de consultation</span>
      <div *ngFor="let availability of availabilityControls.controls; let i = index" [formGroupName]="i" class="hours__row">
        <ion-item class="hours__day">
          <ion-select label="Jour" labelPlacement="stacked" formControlName="day" interface="action-sheet">
            <ion-select-option value="Lundi">Lundi</ion-select-option>
            <ion-select-option value="Mardi">Mardi</ion-select-option>
            <ion-select-option value="Mercredi">Mercredi</ion-select-option>
            <ion-select-option value="Jeudi">Jeudi</ion-select-option>
            <ion-select-option value="Vendredi">Vendredi</ion-select-option>
            <ion-select-option value="Samedi">Samedi</ion-select-option>
            <ion-select-option value="Dimanche">Dimanche</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="hours__times">
          <ion-input label="Heures" labelPlacement="stacked" formControlName="hours" type="text" placeholder="09:00,14:00"></ion-input>
        </ion-item>
        <ion-button fill="clear" color="danger" (click)="removeAvailability(i)" aria-label="Supprimer ce créneau">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
      <p class="none" *ngIf="availabilityControls.length === 0">Aucun horaire pour l'instant.</p>
      <ion-button fill="outline" size="small" (click)="addAvailability()">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Ajouter un jour
      </ion-button>
    </div>

    <ion-button expand="block" type="submit" class="go" [disabled]="!doctorForm.valid">Créer la fiche</ion-button>
  </form>
</ion-content>
