<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="isLoading" lines="none">
    <ion-item *ngFor="let i of [1, 2, 3]">
      <ion-label>
        <ion-skeleton-text [animated]="true" style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 85%"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <section class="cm-sheet notes" *ngIf="!isLoading && notifications.length > 0">
    <button type="button" class="note" *ngFor="let notification of notifications" [class.is-new]="!notification.is_read" (click)="goToNotificationDetails(notification)">
      <span class="note__dot" aria-hidden="true"></span>
      <span class="note__text">
        <strong>{{ notification.title }}</strong>
        <span>{{ notification.body }}</span>
        <time>{{ notification.timestamp | date: 'd MMM, HH:mm' }}</time>
      </span>
      <span class="cm-stamp is-no" *ngIf="!notification.is_read">Nouveau</span>
    </button>
  </section>

  <div class="cm-empty" *ngIf="!isLoading && notifications.length === 0">
    <ion-icon name="notifications-off-outline"></ion-icon>
    <h3>Rien de nouveau</h3>
    <p>Vous serez prévenu ici quand un rendez-vous change.</p>
  </div>
</ion-content>
