<ion-app>
  <ion-menu menuId="main-menu" contentId="main-content">
    <ion-content>
      <div class="cm-letterhead menu-head">
        <div class="cm-letterhead__mark" aria-hidden="true"><ion-icon name="medkit"></ion-icon></div>
        <h1>Cabinet médical</h1>
        <p>Rendez-vous · dossier · messagerie</p>
      </div>
      <ion-list lines="none" class="menu-list">
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/home" detail="false">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Accueil</ion-label>
          </ion-item>
          <ion-item *ngIf="currentUser != ''" routerLink="/settings" detail="false">
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            <ion-label>Paramètres</ion-label>
          </ion-item>
          <ion-item (click)="handleAuthAction()" button detail="false">
            <ion-icon [name]="isLoggedIn ? 'log-out-outline' : 'log-in-outline'" slot="start"></ion-icon>
            <ion-label>{{ isLoggedIn ? 'Se déconnecter' : 'Se connecter' }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
  <app-tabs></app-tabs>
</ion-app>
