<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <header class="cm-letterhead">
    <div class="cm-letterhead__mark" aria-hidden="true"><ion-icon name="medkit"></ion-icon></div>
    <h1>Nouveau dossier patient</h1>
    <p>Création de compte</p>
  </header>

  <form class="cm-form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="pair">
      <div>
        <ion-item>
          <ion-input label="Prénom" labelPlacement="stacked" formControlName="firstName" type="text" autocomplete="given-name"></ion-input>
        </ion-item>
        <span class="cm-error" *ngIf="form.get('firstName')?.touched && form.get('firstName')?.hasError('required')">Veuillez saisir votre prénom.</span>
      </div>
      <div>
        <ion-item>
          <ion-input label="Nom" labelPlacement="stacked" formControlName="lastName" type="text" autocomplete="family-name"></ion-input>
        </ion-item>
        <span class="cm-error" *ngIf="form.get('lastName')?.touched && form.get('lastName')?.hasError('required')">Veuillez saisir votre nom.</span>
      </div>
    </div>

    <ion-item>
      <ion-icon name="calendar-outline" slot="start" color="medium"></ion-icon>
      <ion-input label="Date de naissance" labelPlacement="stacked" formControlName="birthDate" type="date"></ion-input>
    </ion-item>
    <span class="cm-error" *ngIf="form.get('birthDate')?.touched && !form.get('birthDate')?.valid">
      <ng-container *ngIf="form.get('birthDate')?.hasError('required')">Veuillez saisir votre date de naissance.</ng-container>
      <ng-container *ngIf="form.get('birthDate')?.hasError('underage')">Vous devez avoir au moins 16 ans.</ng-container>
    </span>

    <ion-item>
      <ion-icon name="mail-outline" slot="start" color="medium"></ion-icon>
      <ion-input label="Email" labelPlacement="stacked" formControlName="email" type="email" autocomplete="email"></ion-input>
    </ion-item>
    <span class="cm-error" *ngIf="form.get('email')?.touched && !form.get('email')?.valid">
      <ng-container *ngIf="form.get('email')?.hasError('required')">Veuillez saisir votre adresse email.</ng-container>
      <ng-container *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">Cette adresse email n'est pas valide.</ng-container>
    </span>

    <ion-item>
      <ion-icon name="key-outline" slot="start" color="medium"></ion-icon>
      <ion-input label="Mot de passe" labelPlacement="stacked" formControlName="password" type="password" autocomplete="new-password"></ion-input>
    </ion-item>
    <span class="cm-error" *ngIf="form.get('password')?.touched && !form.get('password')?.valid">
      <ng-container *ngIf="form.get('password')?.hasError('required')">Veuillez saisir un mot de passe.</ng-container>
      <ng-container *ngIf="form.get('password')?.hasError('minlength') && !form.get('password')?.hasError('required')">Au moins 8 caractères.</ng-container>
    </span>

    <ion-item>
      <ion-icon name="key-outline" slot="start" color="medium"></ion-icon>
      <ion-input label="Confirmer le mot de passe" labelPlacement="stacked" formControlName="confirmPassword" type="password" autocomplete="new-password"></ion-input>
    </ion-item>
    <span class="cm-error" *ngIf="form.get('confirmPassword')?.touched && (form.hasError('mismatch') || !form.get('confirmPassword')?.valid)">
      <ng-container *ngIf="form.get('confirmPassword')?.hasError('required')">Veuillez confirmer votre mot de passe.</ng-container>
      <ng-container *ngIf="form.hasError('mismatch') && !form.get('confirmPassword')?.hasError('required')">Les mots de passe ne correspondent pas.</ng-container>
    </span>

    <ion-button class="submit" expand="block" size="large" type="submit">Ouvrir mon dossier</ion-button>
  </form>
</ion-content>
