<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Documents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cm-head">
    <span class="cm-kicker">Dossier médical</span>
    <h1>Mes documents</h1>
    <p>Envoyez analyses, radios et ordonnances à votre médecin.</p>
  </div>
  <app-dossier-folder [count]="documents.length"></app-dossier-folder>
  <app-document-upload [doctorId]="doctorId" (documentUploaded)="onDocumentUploaded($event)"></app-document-upload>
  <app-document-list [documents]="documents"></app-document-list>
</ion-content>
